{{outlet}}

<h2>Bustle Main Page</h2>

<ul>
  {{#each model as |story|}}
    <li>{{#link-to 'story' story.id}}{{story.title}} <br> <img src={{story.image}}>{{/link-to}}<br> By {{story.author}}<br></li>
  {{/each}}
</ul>
